@font-face {
    font-family: myFirstFont;
    src: url(aubrey.ttf);
}



body{
	background-image: url('graphics/BG1.jpg');
	background-repeat: no-repeat;
}

p{
	text-align: center;
	font-family: aubrey;
}

.center
    {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
	
.col-md-4{
background-color:white;
color: black;
text-align: center;
border-color: black;
font-family: myFirstFont;
}